<div class="container">
  <%= form_with model: @todo, local: true do |f| %>
    <p><%= f.label :description, "Descripcion" %>
    <%= f.text_area :description %></p>
    <p><%= f.label :completed, "Estado" %>
    <%= f.check_box :completed %></p>
    <%= f.submit "Guardar", class: 'btn btn-primary' %>
  <% end %>
</div>
