<div class="well">
  <% @todos.each do |i| %>
    <div class="thumbnail">
      <div class="row">
        <div class="col-sm-12">
          <p> nยบ  <%= i.id %> </p>
        </div>
        <div class="col-sm-4">
          <h3> <%= i.description %> </h3>
        </div>
        <div class="col-sm-8">
          <div class="col-sm-3">
            <%= link_to 'Detalle', i, class: 'btn btn-primary' %>
          </div>
          <div class="col-sm-3">
            <%= link_to "Completar Tarea", complete_path(i), action: :complete, class: 'btn btn-success' %>
          </div>
          <div class="col-sm-3">
            <%= link_to 'Editar', update_path(i), class: 'btn btn-warning' %>
          </div>
          <div class="col-sm-3">
            <%= link_to 'Borrar', i, method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
        <div class="col-sm-12">
          <p> Estado:  <%= i.completed == true ? 'Completo' : 'No Completo' %> </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to 'Nuevo', todos_new_path , class: 'btn btn-success' %>
</div>
